__pycache__/
*.py[cod]
*$py.class

venv/
env/
credentials.py

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.tar.gz
*.tgz
*.egg
*.egg-info/
*.eggs
*.coverage
.coverage.*
.cache
*.cover
*.py,cover
.cache/
.local/
local_settings.py

staticfiles/
static/
media/

*.cache

.idea/
.vscode/
*.swp
*~

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.env
docker-compose.override.yml
*.pid
*.seed
*.bak
*.old
*.orig
**/*.pyc
**/*.pyo

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.hypothesis/
.pytest_cache/

.ipynb_checkpoints

Pipfile.lock
poetry.lock

